<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CleanCity</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="home-page">

    <div class="hero">

        <h1>Clean<span>City</span></h1>

        <h2>Building a Cleaner Tomorrow</h2>

        <p>
            Smart Garbage Complaint <br>
            Management System
        </p>

        <div class="hero-buttons">

            <a href="/register" class="btn btn-green">Get Started</a>

            </div>div>

            <p  class="login-text">Already have an account? <a href="/login">User Login</a></p>

            <a href="/admin-login" class="admin-link">Admin Login</a>

       </div>

    

</body>
</html>
