<!DOCTYPE html>
<html>
<head>
    <title>CleanCity</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🏙️ CleanCity</h1>

    <h3>Keeping Cities Clean, One Complaint at a Time.</h3>

    <p class="subtitle">
        Report garbage issues quickly, securely, and help create a cleaner environment for everyone.
    </p>

    <div class="buttons">

        <a href="/login" class="btn">
            👤 User Login
        </a>

        <a href="/register" class="btn">
            📝 Register
        </a>

        <a href="/admin-login" class="btn admin-btn">
            🛡️ Admin Login
        </a>

    </div>

    <div class="features">

        <div>📍 Easy Complaint Registration</div>
        <div>🔒 Privacy Protected</div>
        <div>📊 Track Complaint Status</div>

    </div>

    <p class="footer-text">
        © 2026 CleanCity | Developed for College Mini Project
    </p>

</div>

</body>
</html>
   